@import "vendor/normalize";
@import "vendor/toast";

html, body{
	background: #FFF;
}

.icon-link{
	background: url('/img/icons/link.png') center no-repeat;
	background-size: 80% 80%;
	cursor: pointer;
}