@import "vendor/normalize";
@import "vendor/toast";

html, body{
	background: #FFF;
}

.icon-link{
	background: url('/img/icons/link.png') center no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin: 0 auto;
}

.link-wrap{
	width: '100%';
	height: '100%';
}

.link-wrap:hover{
	cursor: pointer;
}

.vote-button{
	width: 25px;
	height: 25px;
	cursor: pointer;
	display: inline-block;
	position: relative;
	top: 6px;
}

.vote-button_affirm{
	background: url('/img/icons/add-circle.svg') center no-repeat;	
}

.vote-button_negate{
	background: url('/img/icons/remove-circle.svg') center no-repeat;
}

.vote-button_disabled{
	cursor: default;
	opacity: 0.2;
}

.center-column{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
}